.pgwMenu{
    background:#fd6e6e;
    height:40px;
    position:relative;
    list-style:none
}
.pgwMenu.light{
    background:#ddd
}
.pgwMenu ul{
    list-style:none;
    white-space:nowrap;
    margin:0;
    padding:0
}
.pgwMenu .pm-links.mobile,.pgwMenu .pm-viewMore>ul{
    background:#333;
    box-shadow:2px 2px 4px #777;
    position:absolute;
    left:0;
    top:100%;
    z-index:1000
}
.pgwMenu.light .pm-links.mobile{
    background:#ddd
}
.pgwMenu .pm-links.mobile li,.pgwMenu .pm-viewMore>ul>li{
    display:block;
    clear:both;
    width:175px
}
.pgwMenu li{
    float:left;
    font-size:.9rem
}
.pgwMenu a{
    display:block;
    color:#fff;
    line-height:40px;
    padding:0 12px;
    text-decoration:none
}
.pgwMenu.light a{
    color:#000
}
.pgwMenu a.selected{
    background:#777
}
.pgwMenu.light a.selected{
    background:#c5c5c5
}
.pgwMenu li a:hover{
    background:#FF5456;
    text-decoration:none
}
.pgwMenu.light li a:hover{
    background:#d0d0d0
}
.pgwMenu .pm-dropDown,.pgwMenu .pm-viewMore,.pgwMenu .pm-viewMore>ul{
    display:none
}
.pgwMenu .pm-dropDown a{
    display:inline-block;
    background:#777
}
.pgwMenu .pm-dropDown a.active,.pgwMenu .pm-viewMore a.active{
    background:#666
}
.pgwMenu.light .pm-dropDown a{
    background:#c5c5c5
}
.pgwMenu.light .pm-dropDown a.active{
    background:#bbb
}

.pgwMenu .pm-viewMore{
    display:none;
    position:relative
}
.pgwMenu .pm-viewMore>a{
    display:inline-block
}.pgwMenu .pm-viewMore>ul{
    left:auto;right:0
}.pgwMenu .pm-viewMore li{
    float:none
}.pgwMenu .pm-viewMore span.icon,.pgwMenu .pm-viewMore span.white{
    border-color:#fff transparent;
    border-style:solid;
    border-width:8px 6px 0;
    margin-left:3px;
    display:inline-block
}
.pgwMenu.light .pm-viewMore span.icon,.pgwMenu .pm-viewMore span.black{
    border-color:#000 transparent;
    border-style:solid;
    border-width:8px 6px 0;
    margin-left:3px;
    display:inline-block
}

.cntr{
    margin:0 auto
}
.cntr:before,.cntr:after{
    content:' ';
    display:table
}
.cntr:after{
    clear:both
}
.cntr{
    max-width:945px;

}.clr{
    clear:both
}
nav{
    background:#fd6e6e;
    border-bottom:5px solid #ed1c24;
}
nav a{
    text-decoration:none !important
}
nav .pgwMenu a.selected,nav .pgwMenu .pm-dropDown a{
    background:#ed1c24;
}

#menu > li > a{
    font-family: Century-gothic-regular;
}

.inner-addon > input{
    font-family: Californian-fb-italic;
    font-size: 16px;
}
.inner-addon > input:focus{
    border: 1px solid #ED1C24;
}

